force-app/main/default/flows/Copado_Custom_PullRequest_QualityGate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Number_of_Approvals</name>
        <label>Set Number of Approvals</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>PR_Approval_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PR_Actions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Approvals</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>No_PR_Found</name>
        <label>No PR Found</label>
        <locationX>402</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Copado Pull Request record not found for this user story.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Pending_Approval</name>
        <label>Pending Approval</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <customErrorMessages>
            <errorMessage>This user story was approved by {!PR_Approval_Count} user(s). It must be approved by at least 2 users.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Number_of_Approvals</name>
        <label>Check Number of Approvals</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Pending_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pending Approvals</defaultConnectorLabel>
        <rules>
            <name>Expected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PR_Approval_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <label>Expected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_if_has_PR_record</name>
        <label>Verify if has PR record</label>
        <locationX>226</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>No_PR_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PR Not Found</defaultConnectorLabel>
        <rules>
            <name>PR_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Copado_PR_Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_PR_Actions</targetReference>
            </connector>
            <label>PR Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Copado_Custom_PullRequest_QualityGate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copado_Custom_PullRequest_QualityGate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Copado_PR_Record</name>
        <label>Get Copado PR Record</label>
        <locationX>226</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_if_has_PR_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Pull_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PR_Actions</name>
        <label>Get PR Approvals</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_of_Approvals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Pull_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Copado_PR_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Review_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Pull_Request_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Copado_PR_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Promote_Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Promote_and_Deploy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PR_Approval_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
