force-app/main/default/flows/copado_envmgr__EnvironmentOrgDeleteSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_delete_template</name>
        <label>Run delete template</label>
        <locationX>308</locationX>
        <locationY>566</locationY>
        <actionName>copado__CreateExecution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_JobExecutionId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationId</name>
            <value>
                <elementReference>Get_Environment_Org.copado_envmgr__Environment__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pipelineId</name>
            <value>
                <elementReference>Get_Environment_Org.copado_envmgr__EnvironmentDefinition__r.copado_envmgr__Project__r.copado__Deployment_Flow__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runAfterInstantiation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceId</name>
            <value>
                <elementReference>Get_Environment_Org.copado_envmgr__EnvironmentDefinition__r.copado_envmgr__ParentEnvironment__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>Get_Environment_Definition.copado_envmgr__DeleteJobTemplate__r.copado__ApiName__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__CreateExecution</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_JobExecutionId</name>
        <label>Set JobExecutionId</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>JobExecutionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_delete_template.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_the_Delete_Job_Template</name>
        <label>Check the Delete Job Template</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Status_of_Org</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_it_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Environment_Definition.copado_envmgr__DeleteJobTemplate__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>If it is empty, Ignore it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Environment Org Delete Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Environment Org Delete Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Environment_Definition</name>
        <label>Get Environment Definition</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Delete_Job_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Environment_Org.copado_envmgr__EnvironmentDefinition__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado_envmgr__EnvironmentDefinition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Environment_Org</name>
        <label>Get Environment Org</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Environment_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado_envmgr__EnvironmentOrg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_Org</name>
        <label>Update Status of Org</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Run_delete_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado_envmgr__Status__c</field>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputAssignments>
        <object>copado_envmgr__EnvironmentOrg__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Environment_Org</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobExecutionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado_envmgr__EnvironmentOrg__c</objectType>
    </variables>
</Flow>
