force-app/main/default/flows/UserStory_OrphanBranch_Checkmarx_Scan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Orphan_and_Checkmarx_Scan</name>
        <label>Orphan and Checkmarx Scan</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Branch_Creation_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_User_Story.copado__Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>createPromOrphanCheckmarx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FeatureBranch</name>
        <dataType>String</dataType>
        <expression>&apos;feature/&apos; &amp; {!Get_User_Story.Name}</expression>
    </formulas>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ { &quot;name&quot;: &quot;sourceBranch&quot;, &quot;value&quot;: &quot;&apos; &amp; {!FeatureBranch} &amp; &apos;&quot; },{ &quot;name&quot;: &quot;userStoryId&quot;, &quot;value&quot;: &quot;&apos; &amp; {!recordId} &amp; &apos;&quot; } ]&apos;</expression>
    </formulas>
    <formulas>
        <name>ResultRecordURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!Orphan_and_Checkmarx_Scan} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>UserStory OrphanBranch and Checkmarx Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserStory Orphan Branch and Checkmarx Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orphan_and_Checkmarx_Scan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Branch_Creation_In_Progress</name>
        <label>Branch Creation In Progress</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The orphan branch creation and Checkmarx scan process has been started. You can follow the Functions progress by checking its &lt;/span&gt;&lt;a href=&quot;{!ResultRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Result&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Parameters_Json</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[ { &quot;name&quot;: &quot;sourceBranch&quot;, &quot;value&quot;: &quot;&apos; &amp;amp; {!FeatureBranch} &amp;amp; &apos;&quot; },{ &quot;name&quot;: &quot;userStoryId&quot;, &quot;value&quot;: &quot;&apos; &amp;amp; {!recordId} &amp;amp; &apos;&quot; } ]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
