force-app/main/default/flows/X2nd_Generation_Package_Deployment_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Installation_Function</name>
        <label>Create Installation Function</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Function_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Environment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>install_2G_package</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Required_parameters</name>
        <label>Required parameters</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>packageId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orgId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>packageId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>orgId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Org_Credential</targetReference>
            </connector>
            <label>Not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ {  &quot;name&quot; : &quot;packageID&quot;,  &quot;value&quot; : &quot;&apos; &amp; {!packageId} &amp;  &apos;&quot;},  {&quot;name&quot;: &quot;uninstall&quot;,  &quot;value&quot;: &quot;&apos; &amp; IF({!uninstall}, &quot;true&quot;, &quot;false&quot;) &amp;  &apos;&quot;}, { &quot;name&quot;:&quot;sessionID&quot;, &quot;value&quot;:&quot;{$Context.Credential.SessionId}&quot;}, { &quot;name&quot;:&quot;endpointID&quot;, &quot;value&quot;:&quot;{$Context.Credential.Endpoint}&quot;}]&apos;</expression>
    </formulas>
    <formulas>
        <name>Result_Description</name>
        <dataType>String</dataType>
        <expression>&apos;Installing package &apos; &amp; {!packageId} &amp; &apos; in &apos; &amp; {!Get_Environment.Name}</expression>
    </formulas>
    <formulas>
        <name>topicuri</name>
        <dataType>String</dataType>
        <expression>&apos;/events/copado/v1/step-result/&apos;+{!resultId}</expression>
    </formulas>
    <interviewLabel>Package Deployment Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Package Deployment Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Succes_Event</name>
        <label>Publish Succes Event</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <elementReference>topicuri</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Environment</name>
        <label>Get Environment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Installation_Function</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_Credential.copado__Environment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Environment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Function_Result</name>
        <label>Get Function Result</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Function_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Installation_Function</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Credential</name>
        <label>Get Org Credential</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Org__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Environment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Function_Result</name>
        <label>Update Function Result</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Publish_Succes_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Installation_Function</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Description__c</field>
            <value>
                <elementReference>Result_Description</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Required_parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;isSuccess&quot;: true
}</text>
    </textTemplates>
    <variables>
        <name>orgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>packageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uninstall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
